html {
	min-height: 16.48rem;
	font-size: 1.06667rem;
}

body,html {
	width: 100%;
	height: 100%;
}

body {
	overflow-x: hidden;
	margin: 0;
	color: #001d2f;
	font-weight: 400;
	font-size: 1.6rem;
	font-family: -apple-system,BlinkMacSystemFont,Inter,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

::-webkit-scrollbar {
	width: .10667rem;
	height: .10667rem;
}

::-webkit-scrollbar-track {
	border-radius: .02667rem;
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 .02667rem rgba(0,0,0,.3);
}

::-webkit-scrollbar-thumb {
	border-radius: .02667rem;
	background-color: #ccc;
}

h1,h2,h3 {
	font-weight: 500!important;
	font-family: -apple-system,BlinkMacSystemFont,FS Kim,Georgia,"Serif";
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga";
	font-feature-settings: "liga";
}

h3,p,ul {
	margin: 0;
}

ul {
	padding: 0;
	list-style-type: none;
}

@font-face {font-weight:400;font-style:"normal";font-family:Inter;src:url(https://lenvpen.com/font/inter-regular.woff) format("woff");
	font-display:swap;
}

@font-face {font-weight:500;font-style:"normal";font-family:Inter;src:url(http://qljf.bcxymen.cn/quick/static/fonts/inter-medium.woff) format("woff");
	font-display:swap;
}

@font-face {font-weight:600;font-style:"normal";font-family:Inter;src:url(http://qljf.bcxymen.cn/quick/static/fonts/inter-semibold.woff) format("woff");
	font-display:swap;
}

@font-face {font-weight:700;font-style:"normal";font-family:Inter;src:url(http://qljf.bcxymen.cn/quick/static/fonts/inter-bold.woff) format("woff");
	font-display:swap;
}

@font-face {font-weight:500;font-style:normal;font-family:FS Kim;src:url(https://lenvpen.com/font/fs-kim-text-w03-medium.woff) format("woff");
	font-display:swap;
}

.html_main {
	position: relative;
	min-width: 100vw;
	min-height: 100vh;
	background: url(../image/bg.png) 50%/cover no-repeat;
}

.html_header {
	position: fixed;
	z-index: 15;
	margin: 0 auto;
	padding: .13333rem 5vw;
	width: 90%;
	width: 90vw;
	height: 1.28rem;
	line-height: 1.06667rem;
}

.bg_type {
	background: hsla(0,0%,100%,.9);
}

.html_header .logo {
	display: inline-block;
	overflow: hidden;
	height: 1.06667rem;
	vertical-align: middle;
}

.html_header .logo img {
	margin-top: -.96rem;
	margin-left: -.10667rem;
	height: 3.2rem;
	cursor: pointer;
}

.html_header .right {
	float: right;
}

.right .language {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 0 0 .64rem;
	border: .02667rem solid transparent;
	border-radius: 1.33333rem;
	color: #999;
	text-align: center;
	font-size: .34667rem;
	line-height: .74667rem;
	cursor: pointer;
}

.language .lang,.language .lang>img {
	vertical-align: middle;
}

.language .lang>img {
	margin-right: .10667rem;
	width: .42667rem;
	color: #999;
}

.language .lang>span {
	color: #999;
}

.html_content {
	position: relative;
	padding-top: 2.13333rem;
	min-height: 16rem;
}

.windows h3 {
	margin-bottom: .37333rem;
	color: #1a1a1a;
	font-size: .53333rem;
}

.windows .ae050a1c26b611d2,.windows .f972ed6b18012d9b {
	color: #333;
	font-size: .37333rem;
	line-height: .53333rem;
}

.windows .ae050a1c26b611d2,.windows .f972ed6b18012d9b,.windows h3 {
	margin-right: .64rem;
	margin-left: .64rem;
}

.windows .remarks {
	margin: .4rem .64rem .13333rem;
}

.remarks .remarks_text {
	box-sizing: border-box;
	line-height: 0;
}

.remarks_text p {
	display: inline-block;
	margin-bottom: .08rem;
	color: grey;
	vertical-align: middle;
	font-size: .32rem;
	line-height: .42667rem;
}

.remarks_text p>img {
	margin-right: .21333rem;
	width: .34667rem;
	height: .34667rem;
	vertical-align: middle;
}

.Downurl {
	margin-right: .64rem;
	margin-left: .64rem;
	width: 36%;
	vertical-align: top;
}

.Downurl,.Downurl a {
	display: inline-block;
}

.Downurl a {
	margin: 0 auto .42667rem;
	width: 3.86667rem;
	height: .93333rem;
	border-radius: .16rem;
	background: #fea01a;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: .37333rem;
	line-height: .93333rem;
}

.Downurl a:hover {
	opacity: .8;
}

.demonstration {
	text-align: center;
}

.demonstration img {
	height: 9.6rem;
}

.system {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: .53333rem;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.system .system_li {
	position: relative;
	overflow: hidden;
	width: 20%;
	height: 2.13333rem;
	line-height: 3.2rem;
}

.system_li img {
	position: absolute;
	top: -32%;
	left: 50%;
	height: 3.2rem;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.system_li p {
	color: #ccc;
	text-align: center;
	font-size: .32rem;
}

.system .system_li .t {
	color: #333;
}

.win {
	display: none;
}

.move {
	display: flex;
	margin: auto;
	align-content: center;
	justify-content: center;
}

.footer {
	box-sizing: border-box;
	padding: 0 .8rem;
	background: #4d4d4d;
}

.footer .footer_text {
	padding: .21333rem 0 .32rem;
	color: #ccc;
	text-align: center;
	font-size: .26667rem;
}

@media screen and (min-width:768px) {
	.html_header {
		padding: .13333rem 0;
		width: 100%;
		width: 100vw;
		height: 2.13333rem;
		line-height: 2.13333rem;
	}

	.html_header .logo img {
		margin-top: -1.6rem;
		margin-left: .53333rem;
		height: 4.26667rem;
	}

	.html_content {
		box-sizing: border-box;
		margin: 0 auto;
		padding-top: 3.2rem;
		max-width: 26.45333rem;
		min-height: 21.76rem;
	}

	.windows {
		float: left;
		box-sizing: border-box;
		width: 54%;
		min-height: 8.53333rem;
	}

	.windows h3 {
		margin-bottom: .21333rem;
		color: #363636;
		font-size: .64rem;
	}

	.windows .ae050a1c26b611d2,.windows .f972ed6b18012d9b {
		color: #454647;
		font-size: .42667rem;
		line-height: .53333rem;
	}

	.animation {
		-webkit-transition: all .5s;
		transition: all .5s;
		animation: _BJ4yTD38qpYWUBN9Gso .5s ease 1s;
		-webkit-animation: _BJ4yTD38qpYWUBN9Gso .5s ease 1s;
		animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;
	}

	.windows .remarks {
		margin-bottom: 1.06667rem;
		color: #7f8084;
	}

	.remarks .remarks_text {
		margin-bottom: .21333rem;
	}

	.remarks_text p {
		display: inline-block;
		font-size: .42667rem;
	}

	.Downurl {
		position: relative;
		display: block;
		margin-bottom: .53333rem;
	}

	.Downurl a {
		position: relative;
		float: left;
		margin: 0;
		width: 4.26667rem;
		height: 1.06667rem;
		border-radius: .21333rem;
		background: #fea01a;
		color: #fff;
		text-align: center;
		font-size: .42667rem;
		line-height: 1.06667rem;
	}

	.demonstration {
		display: inline-block;
		width: 45%;
		text-align: right;
	}

	.demonstration img {
		height: 11.73333rem;
	}

	.right .language {
		padding: 0 .64rem;
	}

	.system {
		display: table;
		width: 100%;
	}

	.system .system_li {
		position: relative;
		display: table-cell;
		width: 20%;
	}

	.system_li img {
		position: absolute;
		top: -1.86667rem;
		left: 50%;
		z-index: 0;
		height: 4.8rem;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		-ms-transform: translateX(-50%);
	}

	.system_li p {
		color: #ccc;
		text-align: center;
		font-size: .42667rem;
		line-height: 2.77333rem;
	}

	.move {
		display: none;
	}

	.footer {
		position: absolute;
		bottom: 0;
		padding: 0;
		width: 100%;
	}
}